.image-icon{

}
.image-icon:hover{
    -fx-effect: dropshadow(gaussian, #f0d55d, 10, 0.7, 0.0, 0.0);

}

.text-field-{

}
.text-field-:hover{
    -fx-effect: dropshadow(gaussian, #e89856, 3, 0.3, 0.0, 0.0);

}

.image-icon2{

}
.image-icon2:hover{
    -fx-effect: dropshadow(gaussian, #000000, 8, 0.3, 0.0, 0.0);

}

